<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="akandels/contain-mapper test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
