<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="akandels/contain-mapper test suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>../</directory>
        </whitelist>
    </filter>
</phpunit>
